<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>

    <!-- Dodaj linki do plików stylów i skryptów -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<!-- Treść strony -->
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Travel Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container mx-3">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% block homeactive %} {% endblock homeactive %}" aria-current="page"
                               href=/travels/blogs/>Home</a>
                        {% endif %}
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link {% block add_blogs_active %} {% endblock add_blogs_active %}"
                                   href=/travels/add_blogs/>Add Blogs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Hello {{ request.user.first_name }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block profileactive %} {% endblock profileactive %}"
                                   href=/travels/profile/>Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href=/accounts/logout/>Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link {% block registeractive %} {% endblock registeractive %}"
                                   href=/accounts/register/>Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block loginactive %} {% endblock loginactive %}"
                                   href=/accounts/login/>Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}
{% block additional_content %}
    <!-- Dodatkowa zawartość strony -->
{% endblock additional_content %}
</body>
</html>